@value makerGreen, makerWhite, makerLightGrey, makerBlack from '../../common/colors.css';

.user {
  overflow-y: auto;
  height: 100%;
  background-color: makerLightGrey;
}

.title {
  width: 100%;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 0em;
  color: makerGreen;
}

.link {
  width: 100%;
  padding: 0.5em;
  display: flex;
  align-items: center;
  margin: 0;
  flex-direction: column;
}

.testContent {
  width: 100%;
  padding: 0.5em;
  align-items: center;
  text-align: center;
  margin: 0;
}

.inputList {
  padding-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.linkInput {
  width: 100%;
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
}

.span {
  padding: 0.375rem 0.75rem;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 0.5em;
  text-align: center;
  align-items: center;
}

.input {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  width: 90%;
}

.copyButton {
  height: 2.5em;
  font-size: 1.2rem;
  background-color: makerGreen;
  color: makerWhite;
  cursor: pointer;
  border: 0.2rem solid makerGreen;
  outline: 0;
  border-radius: 1.2rem;
}

.copyButton:hover {
  background-color: makerLightGrey;
  color: makerBlack;
}

.table {
  width: 100%;
  padding: 0 1em;
}
.table th {
  background-color: makerGreen;
  color: makerWhite;
}
.table td {
  border: 1px solid makerBlack;
  background-color: makerWhite;
  text-align: center;
}
