@value makerGreen, makerWhite, makerLightGrey, makerBlack from '../../common/colors.css';

.title {
  width: 100%;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 0em;
  color: makerGreen;
}

.table {
  width: 100%;
  padding: 0 1em;
}
.table th {
  background-color: makerGreen;
  color: makerWhite;
}
.table td {
  border: 1px solid makerBlack;
  background-color: makerWhite;
  text-align: center;
}
